@font-face {
  font-family: "arapey";
  src: url("../../fonts/arapey/arapey-italic-webfont.woff") format("woff"),
}

.examplesContainer {
  font-family: "arapey";
  background: #B3BF6B;
  color: white;
  padding: 2rem;
}
